.c-table-cell {
  padding: 0 20px;

  &--stretch {
    width: 100%;
  }

  &--center {
    text-align: center;
  }

  &--borderRight {
    border-right: 1px solid grey;
  }
  @media screen and (max-width: 1561px) {
    padding: 0 12px;
    font-size: 10px;
  }
}
