.c-credit-card {
  &__container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
    position: relative;
    border: 1px solid grey;
    border-radius: 4px;

    &__card {
      border-radius: 10px;
      background: grey;
      height: 127px;
      width: 220px;
      margin: auto;
      position: relative;
    }

    &__card-selected {
      border: 5px solid #160e57;
      border-radius: 19px;
      background: grey;
      height: 127px;
      width: 220px;
      margin: auto;
      position: relative;
    }

    svg {
      width: 30px;
      position: absolute;
      /* border: 2px solid red; */
      left: 10px;
      top: 6px;
      height: 30px;
    }

    &__see-details-btn {
      width: 200px;
      height: auto;
      background-color: #f4ee21;
      border-radius: 20px;
      padding: 11px 20px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      border: 0;
      box-shadow: 10px 10px 47px 0px rgba(0, 0, 0, 0.75);
      margin: 20px;
      color: #160e57;
    }

    &__number {
      padding: 40px 20px 20px;
      font-family: monospace;
      color: darkgoldenrod;
      letter-spacing: 2px;
    }

    &__name-expiry-block {
      padding: 16px;
      font-family: monospace;
      color: floralwhite;
    }

    &__name {
      display: inline-block;
      margin-right: 21px;
    }

    &__expiry {
      font-size: 10px;
    }
  }
}
