.c-container {
  padding: 100px;
  background: lightgrey;

  &__total-credit {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 4px 4px 0 0 #77bfa3;
    background-color: #160e57;
    color: white;
    font-weight: bold;
  }

  &__heading {
    text-align: center;
  }

  &__sub-heading {
    color: #160e57;
    text-shadow: 0 2px 0 #77bfa3;
  }

  &__sub-subheading {
    margin: 20px;
  }
}
