.c-app {
  &__total-credit-btn {
    height: auto;
    background-color: #F78105;;
    border-radius: 20px;
    padding: 11px 20px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border: 0;
    box-shadow: 10px 10px 47px 0 rgba(0, 0, 0, 0.75);
    margin: 20px;
    color: white;
  }
}
